[general]
#conf_dir = $HOME/.suggestive
#database = %(conf_dir)s/music.db
#log = %(conf_dir)s/log.txt
#highcolor = true
#default_buffers = library,playlist
#orientation = horizontal

[mpd]
#host = localhost
#port = 6600

[lastfm]
#user = my_lastfm_user
#api_key = 0123456789abcdefghijklmnopqrstuv

[appearance]
# Customize color scheme. You may specify any valid urwid color

#album_fg = #000
#album_bg = #fff
#album_focus_fg = #000
#album_focus_bg = #0ff

#track_fg = #000
#track_bg = #ccc
#track_focus_fg = #000
#track_focus_bg = #0ff

#playlist_fg = #000
#playlist_bg = #fff
#playlist_focus_fg = #000
#playlist_focus_bg = #0ff

#footer_fg = #000
#footer_bg = #00f
#footer_error_fg = #000
#footer_error_bg = #f00

#status_fg = #000
#status_bg = #08f

[playlist]
# Customize playlist buffer

# Format for the status bar. Possible variables:
#   status, time_elapsed, time_total, title, artist, album_artist, album,
#   filename, track, date
#status_format = {status}: {artist} - {title} [{time_elapsed}/{time_total}]

[library]
# Customize library buffer

# Ignore any leading 'The' in an artist's name for sorting purposes
#ignore_artist_the = true

# Default commands for library ordering, separated by a semicolon
#default_order = loved min=0 max=1; banned remove_banned=true
